.subHeaderCaptionDiv {
    COLOR: #000088;
    FONT-FAMILY: Arial Cyr;
    FONT-SIZE: 15pt;
    FONT-WEIGHT: bold;
    LEFT: 60px;
    padding-left: 2px;
    POSITION: absolute;
    TOP: 25px;
}

.headerCaptionDiv {
    COLOR: white;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    LEFT: 50px;
    POSITION: absolute;
    TOP: 5px;
}

.PageHeader {
    BACKGROUND-COLOR: #FFB300;
    FONT-SIZE: 12px;
    text-align: center;
}

.Grid8Grayed {
    border: #dcdcdc 1px solid;
    border-collapse: collapse;
}

.Grid8Grayed TD {
    border: #dcdcdc 1px solid;
    color: #cccccc;
}

.Grid8Grayed A { color: #cccccc; }

.Grid8Grayed P { color: #cccccc; }

.Grid8Grayed DIV { color: #cccccc; }

.Grid8Grayed FONT { color: #cccccc; }

.Grid8Grayed TH { border: #dcdcdc 1px solid; }

.Grid8Grayed IMG { display: none; }

.GridHeaderGrayed {
    BACKGROUND-COLOR: #dcdcdc;
    COLOR: white;
    FONT-SIZE: 8pt;
    text-align: center;
    VERTICAL-ALIGN: middle;
}